@CHARSET "UTF-8";

#dashboard4Box {
	widht: auto;
	height: auto; //
	background: red;
}

.mainRow { //
	background: blue;
}

.box {
	width: 1160px;
	height: auto; //
	background: red;
	float: left;
	margin: 2px;
	border-radius: 5px;
	border: 1px solid #cccccc;
}

.box .title {
	padding: 5px;
	border-radius: 5px;
}

.box .title .tile_l {
	width: 170px;
	float: left;
	font-weight: bold;
}

.box .title .tile_r {
	float: left;
	width: 150px;
}

.box .content {
	padding: 2px;
}

.br {
	clear: both;
}

.textBlue {
	color: blue;
}

.textL {
	text-align: left;
}

.textR {
	text-align: right;
}